@import '../../../App.scss';

.image {
    &__container {
        margin: 0;
        height: 100%;
        width: 100%;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}