$roboto: 'roboto', sans-serif;


$white: #FFFFFF;
$black: #000000;
$blue: #1f66e4;
$blueLight: #1f66e4d1;
$grayLight:  #F0F0F0;



$blueDark: #091E4D;
$purple: #6974FF;
$red: #DF013A;
$maxwidth1320: 1320px;
$blueFooter: #14222D;
$gray: #505D68;

$maxwidth1320: 1320px;
